.new-blog,
.edit-blog {
  padding: 12px;
  margin-bottom: 20px;
  .title {
    font-weight: normal;
    margin-bottom: 12px;
  }
  .actions {
    padding-top: 10px;
  }
  .tags {
    display: block;
  }
}

.blogs {
  margin-bottom: 36px;
  .blog-container {
    padding: 12px;
    display: flex;
    justify-content: center;
    .blog {
      border-radius: 2px;
      margin: 12px 0px -12px 0px;
      padding: 16px;
      background-color: white;
      width: 100%;
      max-width: 780px;
      .blog-title {
        font-weight: 500;
        margin-bottom: 5px;
      }
      @media screen and (max-width: 680px) {
        .blog-title {
          font-size: 30px;
        }
      }
      .sub-header {
        margin-bottom: 12px;
        display: inline-block;
        .tags {
          display: inline-block;
          margin: 0px 16px 0px 0px;
        }
        .published-at {
          display: inline-block;
        }
      }
      .blog-embedded-video {
        position: relative;
        display: block;
        overflow: hidden;
        height: 0px;
        padding-bottom: 56.25%;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;
        }
      }
      .blog-content {
        padding-top: 16px;
        // change height of line breaks between paragraphs
        br {
          display: block;
          content: "";
          margin-top: 16px;
        }
      }
      .blog-details-link {
        font-size: 18px;
        font-weight: 600;
        margin-top: 12px;
      }
    }
  }
}

.blog-details {
  margin-bottom: 24px;
  .blog-container {
    padding: 12px;
    display: flex;
    justify-content: center;
    .blog {
      border-radius: 2px;
      margin: 12px 0px -12px 0px;
      padding: 16px;
      background-color: white;
      width: 100%;
      max-width: 780px;
      .blog-title {
        font-weight: 500;
        margin-bottom: 5px;
      }
      @media screen and (max-width: 680px) {
        .blog-title {
          font-size: 30px;
        }
      }
      .sub-header {
        margin-bottom: 12px;
        display: inline-block;
        .tags {
          display: inline-block;
          margin: 0px 16px 0px 0px;
        }
        .published-at {
          display: inline-block;
        }
      }
      .blog-embedded-video {
        position: relative;
        display: block;
        overflow: hidden;
        height: 0px;
        padding-bottom: 56.25%;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;
        }
      }
      .blog-content {
        padding-top: 16px;
        // change height of line breaks between paragraphs
        br {
          display: block;
          content: "";
          margin-top: 16px;
        }
      }
    }
  }

  .lower-cards-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 12px;
    .columns {
      width: 100%;
      max-width: 780px;
      @media screen and (min-width: 768px) {
        :first-child {
          margin-right: 8px;
        }
        :last-child {
          margin-left: 8px;
        }
      }

      .author-details,
      .workshop-details {
        border-radius: 2px;
        margin-top: 12px;
        margin-bottom: 12px;
        background-color: white;
        align-content: center;
        .author-image {
          height: 128px;
          border-radius: 200px;
        }
        .workshop-banner {
          height: 150px;
        }
        .button {
          margin: 2px 0px 5px 0px;
        }
      }
    }
  }
}
